
<div class="header-bottom">
  <div class="container">
    <div class="main-nav-wrapper" >

<!--     боковое меню-->
      <div class="header-left" >
        <nav id="primary-menu" class="main-nav" >
          <ul class="nav" >
            <li class="active menu-item menu-home" fxFlex="10">Каталог
              <ul class="sub-menu">
                <li class="menu-item">Книжные бестселлеры
                  <ul class="sub-menu">
                    <li class="menu-item">Художественная литература</li>
                    <li class="menu-item">Нехудожественная литература</li>
                    <li class="menu-item">Учебная литература</li>
                    <li class="menu-item">Бизнес-литература</li>
                  </ul>
                </li>
                <li class="menu-item">Новинки
                  <ul class="sub-menu">
                    <li class="menu-item">Художественная литература</li>
                    <li class="menu-item">Нехудожественная литература</li>
                    <li class="menu-item">Учебная литература</li>
                    <li class="menu-item">Бизнес-литература</li>
                  </ul>
                </li>
                <li class="menu-item">Легкое чтение
                  <ul class="sub-menu">
                    <li class="menu-item">Художественная литература</li>
                    <li class="menu-item">Нехудожественная литература</li>
                    <li class="menu-item">Учебная литература</li>
                    <li class="menu-item">Бизнес-литература</li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="menu-item menu-shop" fxFlex="10">Жанры
              <ul class="sub-menu">
                <li class="menu_style_dropdown menu-item">
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-object-page">Детективы</li>
                    <li class="menu-item menu-item-object-page">Фантастика</li>
                    <li class="menu-item menu-item-object-page">Фэнтези</li>
                    <li class="menu-item menu-item-object-page">Ужасы / мистика</li>
                    <li class="menu-item menu-item-object-page">Боевики, остросюжетная литература</li>
                  </ul>
                </li>
                <li class="menu_style_dropdown menu-item">
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-object-page">Любовные романы</li>
                    <li class="menu-item menu-item-object-page">Современная проза</li>
                    <li class="menu-item menu-item-object-page">Биографии и мемуары</li>
                    <li class="menu-item menu-item-object-page">Cтихи, поэзия</li>
                    <li class="menu-item menu-item-object-page">Приключения</li>
                  </ul>
                </li>
                <li class="menu_style_dropdown menu-item">
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-object-page">Юмористическая литература</li>
                    <li class="menu-item menu-item-object-page">Книги по психологии</li>
                    <li class="menu-item menu-item-object-page">Историческая литература</li>
                    <li class="menu-item menu-item-object-page">Документальная литература</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-shop" fxFlex="10">Магазин
              <ul class="sub-menu">
                <li>О нас</li>
                <li>Связаться с нами</li>
                <li>Предзаказ</li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-right" >
        <div class="search-button-wrapper header-customize-item style-default" >
          <div class="icon-search-menu">
            <i class="wicon fa fa-search"></i>
          </div>
          <div class="yolo-search-wrapper">
            <input placeholder="Введите ключевое слово для поиска" type="search">
            <button class="search">
              <i class="fa fa-search"></i>
            </button>
            <button class="close">
              <i class="pe-7s-close"></i>
            </button>
          </div>
        </div >
        <div class="shopping-cart-wrapper header-customize-item with-price" >
          <div class="widget_shopping_cart_content">
            <div class="widget_shopping_cart_icon">
              <fa class="wicon fa fa-shopping-bag"></fa>
            </div>
            <div class="cart_list_wrapper">
              <div class="scroll-wrapper cart_list product_list_widget scrollbar-inner">
                <ul class="cart_list product_list_widget scrollbar-inner scroll-content">
                  <li class="empty">
                    <h4>Пустая тележка</h4>
                    <p>У вас нет элемента в вашей корзине покупок</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="header-customize-item canvas-menu-toggle-wrapper" ></div>
        <div class="canvas-menu-toggle" >
          <fa class="fa fa-user-o"></fa>
        </div>
      </div>
    </div>
  </div>
</div>
