<div class="foot">
  <footer id="yolo-footer-wrapper" fxFlex="100">
    <div class="yolo-footer-wrapper footer-5">
      <div class="footer-col">
        <h2>
          <div class="logo">
            <img src="assets/img/hummingbird.png" alt="" width="90" height="70" class="vc_single_image-img attachment-full">
          </div>
        </h2>
        <ul id="social-footer-2">
          <li><fa name="fa fa-facebook"></fa>facebook</li>
          <li><fa name="fa fa-twitter"></fa>Твиттер</li>
          <li><fa name="fa fa-instagram"></fa>instagram</li>
          <li><fa name="fa fa-cc-paypal"></fa>в PayPal</li>
        </ul>
        <p class="copyright">2019</p>
      </div>
    </div>
  </footer>
</div>
